#work {
  width: 100%;
  background: radial-gradient(#EEEEEE, #EEEEEE, #EEEEEE, #BDBDBD);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #333;
}

#work h1 {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 3px;
  font-variant: small-caps;
  padding: 50px 0 15px 0;
}

#work hr {
  width: 40%;
}

.work-row {
  width: 1024px;
  max-width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.work-item-1, .work-item-2, .work-item-3, .work-item-4, .work-item-5, .work-item-6 {
  flex: 1;
  width: 300px;
  height: 200px;
  background-color: #333;
  margin: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 20px;
}

.work-item-1:hover, .work-item-2:hover, .work-item-3:hover, .work-item-4:hover, .work-item-5:hover, .work-item-6:hover {
  background: radial-gradient(#EEEEEE, #EEEEEE, #EEEEEE, #BDBDBD);
  /*opacity: 0.6;*/
}

.work-item-1-text, .work-item-2-text, .work-item-3-text, .work-item-4-text, .work-item-5-text, .work-item-6-text {
  opacity: 0;
  transform: translateY(-70px);
  transition: all 500ms ease-in-out;
}

.work-item-1-text.loaded, .work-item-2-text.loaded, .work-item-3-text.loaded, .work-item-4-text.loaded, .work-item-5-text.loaded, .work-item-6-text.loaded {
  color: #333;
  opacity: 1;
  transform: translateY(-10px);
  transition: all 500ms ease-in-out;
}
